
/* COLORS

Dark orange #EE4836
Teal #A9DBD2
Dark yellow #FCBB5B
Light blue #81B3E0
Jeans blue #3075B6

*/

body {
    background-color: #F2EFE6;
    font-family: 'Bogart', serif;
}

header, main, footer {
    padding: 20px 0;
}

header {
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    margin-bottom: 50px;
}

#intro, #about, #commitment, #team {
    width: 1100px;
}

h1 {
    font-size: 66px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-family: 'Manjari', sans-serif;
    font-size: 16px;
}

h6 {
    font-family: 'Manjari', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
}

.jeans-blue-text {
    color: #3075B6;
}

.orange-text {
    color: #EE4836;
}

.centered-text {
    text-align: center;
}

.button {
    font-size: 16px;
    font-weight: bolder;
    padding: 16px;
    border-radius: 10px;
}

.orange-button {
    background-color: #EE4836;
    color: white;
}

.orange-button:hover {
    background-color: white;
    color: #EE4836;
}

#down-arrow {
    vertical-align: middle;
}

.blue-button {
    background-color: #3075B6;
    color: white;
}

.blue-button:hover {
    background-color: white;
    color: #3075B6;
}

p {
    line-height: 1.5;
    margin-top: 0;
}

.sans-serif-18 {
    font-family: 'Manjari', sans-serif;
    font-size: 18px;
}

.font-26 {
    font-size: 26px;
}

.sans-serif-14 {
    font-family: 'Manjari', sans-serif;
    font-size: 14px;
}

.sans-serif-15 {
    font-family: 'Manjari', sans-serif;
    font-size: 15px;
}

.sans-serif-16 {
    font-family: 'Manjari', sans-serif;
    font-size: 16px;
}

.sans-serif-26 {
    font-family: 'Manjari', sans-serif;
    font-size: 26px;
}

.uppercase-text {
    text-transform: uppercase;
}

.row {
    display: flex;
    justify-content: space-between;
}

#intro .row div, #about .row div, #commitment .row div {
    width: 48%;
}

img {
    max-width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-left-column {
    align-items: flex-start;
}

a {
    text-decoration: none;
}

#opinions {
    width: 100%;
    margin: 0;
    position: relative;
}

#opinions-top {
    height: 200px;
}

#opinions-bottom {
    height: 300px;
    background-color: #2D2D2D;
}

#opinions-card-container {
    width: 100%;
    position: absolute;
    top: 40px;
    display: flex;
}

#opinion-cards {
    width: 1400px;
    max-height: 380px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#opinion-cards div {
    width: 20%;
    padding: 15px 20px 0 20px;
    border-radius: 20px;
    overflow: hidden;
}

.teal-background {
    background-color: #A9DBD2;
}

.yellow-background {
    background-color: #FCBB5B;
}

.light-blue-background {
    background-color: #81B3E0;
}

.white-background {
    background-color: white;
}

#steps {
    width: 100%;
    /* margin: 0; */
    color: white;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-blue-text {
    color: #81B3E0;
}

#steps-heading {
    max-width: 1000px;
    text-align: center;
}

#steps-image {
    margin-bottom: 30px;
}

#step-texts {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#step-texts div {
    width: 18%;
}

.yellow-button {
    background-color: #FCBB5B;
    color: black;
}

.yellow-button:hover {
    background-color: white;
    color: #FCBB5B;
}

#multi-colored-line {
    width: 100%;
    margin-top: 80px;
    display: flex;
}

#dark-orange-line {
    background-color: #EE4836;
    height: 15px;
    width: 20%;
}

#teal-line {
    background-color: #A9DBD2;
    height: 15px;
    width: 20%;
}

#dark-yellow-line {
    background-color:#FCBB5B;
    height: 15px;
    width: 20%;
}

#light-blue-line {
    background-color: #81B3E0;
    height: 15px;
    width: 20%;
}

#jeans-blue-line {
    background-color: #3075B6;
    height: 15px;
    width: 20%;
}

#team {
    max-width: 1200px;
}

.team-portrait-column {
    width: 30%;
}

.team-text-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact {
    width: 850px;
    background-color: #A9DBD2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
}

#handclap-image {
    width: 144px;
    height: 121px;
    margin-bottom: 20px;
}

#contact form {
    width: 100%;
    margin-bottom: 20px;
}

#contact form input {
    width: 49%;
    margin-bottom: 20px;
}

#contact form textarea {
    width: 100%;
}

#contact form input, #contact form textarea {
    box-sizing: border-box;
    padding: 20px;
    border: 0;
    border-radius: 10px;
    color: grey;
}

#captcha-image {
    align-self: flex-start;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
}

footer div {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
