
/* COLORS

Dark orange #EE4836
Teal #A9DBD2
Dark yellow #FCBB5B
Light blue #81B3E0
Jeans blue #3075B6

*/

body {
    background-color: #F2EFE6;
    font-family: 'Bogart', serif;
}

header, main, footer {
    padding: 20px 0;
}

header {
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    margin-bottom: 50px;
}

/* #main section:not(:last-child) {
    margin-bottom: 50px;
} */

#intro, #about {
    width: 1100px;
}

h1 {
    font-size: 66px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-family: 'Manjari', sans-serif;
    font-size: 16px;
}

h6 {
    font-family: 'Manjari', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
}

.blue-text {
    color: #3075B6;
}

.orange-text {
    color: #EE4836;
}

.centered-text {
    text-align: center;
}

.button {
    font-size: 16px;
    font-weight: bolder;
    padding: 16px;
    border-radius: 10px;
}

.orange-button {
    background-color: #EE4836;
    color: white;
}

#down-arrow {
    vertical-align: middle;
}

.blue-button {
    background-color: #3075B6;
    color: white;
}

p {
    line-height: 1.5;
}

.sans-serif-18 {
    font-family: 'Manjari', sans-serif;
    font-size: 18px;
}

.font-26 {
    font-size: 26px;
}

.sans-serif-14 {
    font-family: 'Manjari', sans-serif;
    font-size: 14px;
}

.sans-serif-26 {
    font-family: 'Manjari', sans-serif;
    font-size: 26px;
}

.uppercase-text {
    text-transform: uppercase;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row div {
    width: 48%;
}

img {
    max-width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

#opinions {
    width: 100%;
    position: relative;
}

#opinions-top {
    height: 200px;
}

#opinions-bottom {
    height: 250px;
    background-color: #2D2D2D;
}

#opinions-card-container {
    width: 100%;
    position: absolute;
    top: 40px;
    display: flex;
}

#opinion-cards {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#opinion-cards div {
    width: 20%;
    padding: 0 20px 0 20px;
    border-radius: 20px;
}

.teal-background {
    background-color: #A9DBD2;
}

.yellow-background {
    background-color: #FCBB5B;
}

.light-blue-background {
    background-color: #81B3E0;
}

.white-background {
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
}

footer div {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
